body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 14px;
  }
  
  .rt-expandable {
    cursor: unset !important;
  }
  
  .show-pointer
  {
    cursor: pointer !important;
  }
  